@model IEnumerable<NiceHmsApp.Models.MarketingContactPerson>

@{
    ViewBag.Title = "ContactPeopleList";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<p>
    <a class="btn btn-success" href="@Url.Action("ContactPeopleReport")">Get Report</a>
</p>
<table class="table">
    <tr>
        <th>
           Company
        </th>
        <th>
            Name
        </th>
        <th>
            Designation
        </th>
        <th>
            Mobile
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Status
        </th>
        <th>
            Dob
        </th>
        <th>
            Create Date
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarketingCompany.company_full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_date)
            </td>
        </tr>
    }

</table>

